PORT=5000
# Optional — only needed if you want the API to talk to a real Postgres instance.
DATABASE_URL=postgresql://localhost:5432/stellarbin
SOROSWAP_API_KEY=
DLMM_CONTRACT_ID=CBDH7LWCS4JOTA5EWXQISZGFE3CIUUYILYTPLS7Y5L3JDPV7MSLSTAKP
TOKEN_X_ADDRESS=CDLZFC3SYJYDZT7K67VZ75HPJVIEUVNIXF47ZG2FB2RMQQVU2HHGCYSC
TOKEN_Y_ADDRESS=CDYZE3XQZA2UYUTYEEVLOKSYDD44CQZ6LYJIKQEDIUYBXNVSNXEQVGEG
USDC_ISSUER=GABZWK2YLPOGBEOZT6VOCID6ROSSZGPSLAEPCTWIBGAJDHISO6DFKYYZ
HOLDER_SECRET_KEY=